/*Global*/

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

ul,
li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#content-panel {
    width: 80%;
    margin: auto;
    background-color: #fff;
}

.container {
    width: 93%;
    margin: auto;
}

section h1 {
    color: #860225;
}

.rating {
    background-color: #FFC100;
    border-radius: 5px;
    color: #fff;
    width: 45px;
}

.rating p {
    margin: 0px;
}


/*Header*/

header,
header h1 {
    margin: 0px;
    text-align: center;
    background-color: #a4002c;
    max-height: 85px;
}

#header-logo img {
    align-content: center;
    margin-top: 7px;
    height: 70px;
}


/*Navegation*/

.navegation h1 {
    margin-bottom: 0px;
}

.navegation li {
    text-align: center;
    align-content: center;
    margin: 2px 10px 5px 0px;
}

.navegation img {
    width: 60px;
}

.navegation h4 {
    margin: 0px;
}


/*New-Workers*/

.new-workers li {
    height: 250px;
}

.worker-box {
    position: relative;
}

.worker-box {
    padding: 0px 15px;
    margin: 0px 0px 35px;
    text-align: center;
}

.worker-box img {
    width: 150px;
    position: absolute;
    top: 0px;
    left: 15px;
    float: left;
    border-radius: 10px;
}

.worker-box .new-bar {
    background-color: #df0942;
    border-radius: 5px;
    color: #fff;
    width: 150px;
    position: relative;
    top: 90px;
    left: 0px;
}

.worker-box .new-bar p {
    margin: 0px;
}

.worker-box .rating {
    position: relative;
    top: 5px;
    left: 5px;
}

.worker-label {
    position: relative;
    top: 100px;
}

.worker-box h3 {
    margin: 5px 0px 0px 0px;
}

.worker-box p {
    margin: 0px;
}


/*Subsections*/

.subsection ul {
    width: 100%;
}

.subsection li {
    width: 30%;
    margin: 0px 30px 30px 0px;
}

.worker-info img {
    width: 85px;
    border-radius: 10px;
    margin-right: 5px;
    float: left;
    box-shadow: 1px 1px 5px rgb(121, 116, 116);
}

.subsection h3 {
    font-size: 16px;
}

.subsection h4,
.subsection p {
    font-size: 12px;
}

.subsection p {
    font-size: 12px;
}

.subsection h3,
.subsection h4,
.subsection p {
    margin: 0px;
}

.subsection .rating {
    float: left;
    padding: 2px;
}

.subsection .rating p {
    margin-left: 3px;
}

.subsection .coverage-area {
    float: right;
    background-color: #a4002c;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
}


/*About*/

.about p {
    width: 60%;
    float: right;
    margin-top: 10%;
}


/*Team*/

.perfil-box {
    text-align: center;
    display: inline-block;
    width: 30%;
}

.perfil-box img {
    border-radius: 180px;
}


/*button-contact*/

#button-contact {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #a4002c;
    border-radius: 25px;
    padding: 10px;
}

#button-contact a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}


/*Footer*/

footer {
    margin-top: 0px;
    background-color: #707070;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0px;
}